<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75">
        <nav th:replace="fragments/crumbs/repl :: edit"></nav>
        <div class="card-body">
            <div align="center" class="error" th:text="${message}"></div>
            <h6>Update Chronopolis Reolication</h6>
            <div style="border: 0.2rem solid #f7f7f9; padding: 1.5rem;">
                <form method="post" name="replication" th:object="${replicationEdit}">
                    <dl>
                        <dt>
                            <div class="form-group row">
                                <label for="collection" class="col-form-label">Collection</label>
                                <input class="form-control" type="input" name="collection" id="collection" th:value="${replication.bag.name}" disabled/>
                            </div>
                        </dt>
                        <dt>
                            <div class="form-group row">
                                <label for="nodes" class="col-form-label">Replicating Nodes</label>
                                <!--/*@thymesVar id="nodes" type="List<org.chronopolis.rest.entities.Node>"*/-->
                                <select class="form-control" name="node" id="node" disabled>
                                    <option th:each="node: ${nodes}"
                                            th:value="${node.id}" th:text="${node.username}"
                                            th:selected="${node.id == replication.node.id}">
                                    </option>
                                </select>
                            </div>
                        </dt>

                        <dt>
                            <div class="form-group row">
                                <label for="nodes" class="col-form-label">Replicating Status</label>
                                <!--/*@thymesVar id="statuses" type="List<org.chronopolis.rest.models.enums.ReplicationStatus>"*/-->
                                <select class="form-control" name="status" id="status">
                                    <option th:each="status: ${statuses}"
                                            th:value="${status}" th:text="${status}"
                                            th:selected="${status == replication.status}">
                                    </option>
                                </select>
                            </div>
                        </dt>
                    </dl>

                    <div class="modal-footer">
                        <input class="btn btn-primary" type="button" onClick="window.history.back();" value="Cancel"/>
                        <a class="btn btn-primary pull-left"
                            th:if="${replication.status == statusDelete}"
                            th:data-href="@{|/replications/${replication.id}/delete|}"
                            th:data-message="|Are you sure you want to delete the replication for collection ${replication.bag.name}?|"
                            data-toggle="modal" data-target="#rm-modal">Delete Replication</a>
                        <input class="btn btn-primary" type="submit" value="Update Replication"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="layout :: foot"></div>
</div>

<div class="modal fade" id="rm-modal" tabindex="-1" role="dialog" aria-labelledby="rm-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rm-modal-label">Confirmation</h5>
            </div>
            <div class="modal-body text-dark"></div>
            <div class="modal-footer">
                <button th:type="button" class="btn btn-secondary" data-dismiss="modal">
                    Dismiss
                </button>
                <a role="button" class="btn btn-danger text-white">Delete</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#rm-modal').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget);
        var href = target.data('href');
        var message = target.data('message');

        var modal = $(this);
        modal.find('.btn-danger').attr('href', href);
        modal.find('.modal-body').text(message);
    });
</script>
</body>
</html>
